<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header class="navbar">
        <div class="navbar__brand">
            <img src="/static/PF.png" class="navbar__logo" alt="Pathfinder logo" />
            <a href="/" class="navbar__logo">Pathfinder</a>
        </div>
        <ul class="navbar__navigation">
            <li class="navbar__navigation-item"><a href="/explore-job-neighborhoods/" class="navbar__link">Explore Job Neighborhoods</a></li>
            <li class="navbar__navigation-item"><a href="/find-my-match/" class="navbar__link">Find My Match</a></li>
            <li class="navbar__navigation-item"><a href="/find-my-hire/" class="navbar__link">Find My Next Hire</a></li>
            <li class="navbar__navigation-item"><a href="/login/" class="navbar__link">Login</a></li>
            <li class="navbar__navigation-item"><a href="/logout/" class="navbar__link">Logout</a></li>
        </ul>
    </header>
    <main class="main">
        <h1 class="pagetitle">Matching Jobs</h1>
        {% if jobpostings %}
        <h2 class="pagesubtitle">Here are the top 10 {{ jobtitle }} jobs in {{ state }} that are a great match for your skillset and interests!</h2>
        <ul class="sectionlist">
            {% for n in range(10) %}
            <li class="sectionlist__item"><a href={{ linklist[n] }}>{{ jobpostings[n] }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <h2 class="pagesubtitle">We're sorry! This page is currently under construction.</h2>
        <h2 class="pagesubtitle">Please check back soon to get {{ jobselection }} jobs that are a great match for your skillset and interests!</h2>
        {% endif %}
        <br>
        <br>    
    </main>
    <footer class="footer">
        <ul class="footer__text">
            <li class="footer__text-item">© 2023 Pathfinder</li>
            <li class="footer__text-item">Job postings courtesy of <a class="footer__text-link" href="https://www.onetonline.org">onetonline.org</li>
            </ul>
    </footer>
</body>
</html>
