<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="./static/styles.css">
</head>
<body>
    <header class="navbar">
        <div class="navbar__brand">
            <img src="./static/PF.png" class="navbar__logo" alt="Pathfinder logo" />
            <a href="/" class="navbar__logo">Pathfinder</a>
        </div>
        <ul class="navbar__navigation">
            <li class="navbar__navigation-item"><a href="/explore-job-neighborhoods/" class="navbar__link">Explore Job Neighborhoods</a></li>
            <li class="navbar__navigation-item"><a href="/find-my-match/" class="navbar__link">Find My Match</a></li>
            <li class="navbar__navigation-item"><a href="/find-my-hire/" class="navbar__link">Find My Next Hire</a></li>
            <li class="navbar__navigation-item"><a href="/login/" class="navbar__link">Login</a></li>
            <li class="navbar__navigation-item"><a href="/logout/" class="navbar__link">Logout</a></li>
        </ul>
    </header>
    <main class="main">
        <h1 class="pagetitle">Job Information Center</h1>
        <h2 class="pagesubtitle">Welcome to Pathfinder! Select a job from the dropdown menu below to begin your journey!</h2>
        <section>
            <form class="form" method="POST" enctype="application/x-www-form-urlencoded">
                <p class="form__input">
                    <label for="jobtitle" class="form__label">Select a job title:</label>
                    <select name="jobtitle" class="form__dropdown" id="jobtitle">
                        {% for job in joblist %}
                        <option value="{{ job }}">{{ job }}</option>
                        {% endfor %}
                    </select>
                </p>
                <button type="submit" class="form__submit">Submit</button>
            </form>
        </section>
        <section>
            <h1 class="pagesubtitle">{{ jobtitle }}</h1>
            <p class="sectiontext">{{ jobdescription }}</p>
        </section>
        {% if tasks %}
        <section>
            <h1 class="sectiontitle">What {{jobtitle}} do:</h1>
            <ul class="sectionlist">
                {% for task in tasks %}
                <li class="sectionlist__item">{{ task }}</li>
                {% endfor %}
            </ul>
        </section>
        {% endif %}
        {% if jobtitle %}
        <h1 class="pagesubtitle">About the Job</h1>
        {% endif %}
        {% if jobtitle %}
        <section>
            <h1 class="sectiontitle">Work Activities:</h1>
            <br>
            <table>
                <thead class="output__list">
                    <tr>
                        <th class="output__list-coloreditem">Activity</th>
                        <th class="output__list-coloreditem" scope="col">Importance</th>
                    </tr>
                </thead>
                <tbody class="output__list" style="text-align: left">
                    {% for n in activities.index %}
                        <tr>
                            <th class="output__list-item" scope="row">
                                {{ activities.loc[n, 'Activity'] }}
                            </th>
                            <td class="output__list-item" style="text-align: center">
                                {{ activities.loc[n, 'Importance'] }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        {% endif %}
        {% if jobtitle %}
        <section>
            <h1 class="sectiontitle">Work Conditions:</h1>
            <br>
            <table>
                <thead class="output__list">
                    <tr>
                        <th class="output__list-coloreditem">Condition</th>
                        <th class="output__list-coloreditem" scope="col">Importance</th>
                    </tr>
                </thead>
                <tbody class="output__list" style="text-align: left">
                    {% for n in conditions.index %}
                        <tr>
                            <th class="output__list-item" scope="row">
                                {{ conditions.loc[n, 'Condition'] }}
                            </th>
                            <td class="output__list-item" style="text-align: center">
                                {{ conditions.loc[n, 'Importance'] }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        {% endif %}
        {% if compensation %}
        <section>
            <h1 class="sectiontitle">Compensation:</h1>
            <p class="sectiontext">{{ compensation }}</p>
        </section>
        {% endif %}
        {% if jobtitle %}
        <h1 class="pagesubtitle">About the Qualified Applicant</h1>
        {% endif %}
        {% if preparation %}
        <section>
            <h1 class="sectiontitle">Has Degree(s) &/or License(s)/Certification(s) in:</h1>
            <p class="sectiontext">{{ preparation }}</p>
        </section>
        {% endif %}
        {% if jobtitle %}
        <section>
            <h1 class="sectiontitle">Knowledge:</h1>
            <br>
            <table>
                <thead class="output__list">
                    <tr>
                        <th class="output__list-coloreditem">Knowledge</th>
                        <th class="output__list-coloreditem" scope="col">Importance</th>
                    </tr>
                </thead>
                <tbody class="output__list" style="text-align: left">
                    {% for n in knowledge.index %}
                        <tr>
                            <th class="output__list-item" scope="row">
                                {{ knowledge.loc[n, 'Knowledge'] }}
                            </th>
                            <td class="output__list-item" style="text-align: center">
                                {{ knowledge.loc[n, 'Importance'] }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        {% endif %}
        {% if jobtitle %}
        <section>
            <h1 class="sectiontitle">Skills:</h1>
            <br>
            <table>
                <thead class="output__list">
                    <tr>
                        <th class="output__list-coloreditem">Skill</th>
                        <th class="output__list-coloreditem" scope="col">Importance</th>
                    </tr>
                </thead>
                <tbody class="output__list" style="text-align: left">
                    {% for n in skills.index %}
                        <tr>
                            <th class="output__list-item" scope="row">
                                {{ skills.loc[n, 'Skill'] }}
                            </th>
                            <td class="output__list-item" style="text-align: center">
                                {{ skills.loc[n, 'Importance'] }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        {% endif %}
        {% if jobtitle %}
        <section>
            <h1 class="sectiontitle">Abilities:</h1>
            <br>
            <table>
                <thead class="output__list">
                    <tr>
                        <th class="output__list-coloreditem">Ability</th>
                        <th class="output__list-coloreditem" scope="col">Importance</th>
                    </tr>
                </thead>
                <tbody class="output__list" style="text-align: left">
                    {% for n in abilities.index %}
                        <tr>
                            <th class="output__list-item" scope="row">
                                {{ abilities.loc[n, 'Ability'] }}
                            </th>
                            <td class="output__list-item" style="text-align: center">
                                {{ abilities.loc[n, 'Importance'] }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        {% endif %}
        {% if jobtitle %}
        <section>
            <h1 class="sectiontitle">Interests:</h1>
            <br>
            <table>
                <thead class="output__list">
                    <tr>
                        <th class="output__list-coloreditem">Interest</th>
                        <th class="output__list-coloreditem" scope="col">Importance</th>
                    </tr>
                </thead>
                <tbody class="output__list" style="text-align: left">
                    {% for n in interests.index %}
                        <tr>
                            <th class="output__list-item" scope="row">
                                {{ interests.loc[n, 'Interest'] }}
                            </th>
                            <td class="output__list-item" style="text-align: center">
                                {{ interests.loc[n, 'Importance'] }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        {% endif %}
        {% if jobtitle %}
        <section>
            <h1 class="sectiontitle">Values:</h1>
            <br>
            <table>
                <thead class="output__list">
                    <tr>
                        <th class="output__list-coloreditem">Value</th>
                        <th class="output__list-coloreditem" scope="col">Importance</th>
                    </tr>
                </thead>
                <tbody class="output__list" style="text-align: left">
                    {% for n in values.index %}
                        <tr>
                            <th class="output__list-item" scope="row">
                                {{ values.loc[n, 'Value'] }}
                            </th>
                            <td class="output__list-item" style="text-align: center">
                                {{ values.loc[n, 'Importance'] }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        {% endif %}
        {% if jobtitle %}
        <section>
            <h1 class="sectiontitle">Styles:</h1>
            <br>
            <table>
                <thead class="output__list">
                    <tr>
                        <th class="output__list-coloreditem">Style</th>
                        <th class="output__list-coloreditem" scope="col">Importance</th>
                    </tr>
                </thead>
                <tbody class="output__list" style="text-align: left">
                    {% for n in styles.index %}
                        <tr>
                            <th class="output__list-item" scope="row">
                                {{ styles.loc[n, 'Style'] }}
                            </th>
                            <td class="output__list-item" style="text-align: center">
                                {{ styles.loc[n, 'Importance'] }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        {% endif %}
        <br>
        <br>
        <br>
    </main>
    <footer class="footer">
        <ul class="footer__text">
            <li class="footer__text-item">© 2024 Pathfinder</li>
            <li class="footer__text-item">Information on this page is courtesy of <a class="footer__text-link" href="https://www.onetonline.org">onetonline.org</li>
        </ul>
    </footer>
</body>
</html>