<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="./static/styles.css">
</head>
<body>
    <header class="navbar">
        <div class="navbar__brand">
            <img src="./static/PF.png" class="navbar__logo" alt="Pathfinder logo" />
            <a href="/" class="navbar__logo">Pathfinder</a>
        </div>
        <ul class="navbar__navigation">
            <li class="navbar__navigation-item"><a href="/explore-job-neighborhoods/" class="navbar__link">Explore Job Neighborhoods</a></li>
            <li class="navbar__navigation-item"><a href="/find-my-match/" class="navbar__link">Find My Match</a></li>
            <li class="navbar__navigation-item"><a href="/find-my-hire/" class="navbar__link">Find My Next Hire</a></li>
            <li class="navbar__navigation-item"><a href="/login/" class="navbar__link">Login</a></li>
            <li class="navbar__navigation-item"><a href="/logout/" class="navbar__link">Logout</a></li>
        </ul>
    </header>
    <main class="main">
        <h1 class="pagetitle">Job Information Center</h1>
        <h2 class="pagesubtitle">Welcome to Pathfinder! Select a job from the dropdown menu below to begin your journey!</h2>
        <section>
            <form class="form" method="POST" enctype="application/x-www-form-urlencoded">
                <p class="form__input">
                    <label for="jobtitle" class="form__label">Select a job title:</label>
                    <select name="jobtitle" class="form__dropdown" id="jobtitle">
                        {% for job in joblist %}
                        <option value="{{ job }}">{{ job }}</option>
                        {% endfor %}
                    </select>
                </p>
                <button type="submit" class="form__submit">Submit</button>
            </form>
        </section>
        <section>
            <h1 class="sectiontitle">{{ jobtitle }}</h1>
            <p class="sectiontext">{{ jobdescription }}</p>
        </section>
        {% if jobtitle %}
        <h1 class="pagesubtitle">About the Job</h1>
        {% endif %}
        {% if tasks %}
        <section>
            <h1 class="sectiontitle">Work Tasks:</h1>
            <ui class="sectionlist"></ui>
                {% for task in tasks %}
                <li class="sectionlist__item">{{ task }}</li>
                {% endfor %}
            </ui>
        </section>
        {% endif %}
        {% if activities %}
        <section>
            <h1 class="sectiontitle">Other Work Activities:</h1>
            <p class="sectiontext">{{ activities }}</p>
        </section>
        {% endif %}
        {% if conditions %}
        <section>
            <h1 class="sectiontitle">Work Conditions:</h1>
            <p class="sectiontext">{{ conditions }}</p>
        </section>
        {% endif %}
        {% if compensation %}
        <section>
            <h1 class="sectiontitle">Compensation:</h1>
            <p class="sectiontext">{{ compensation }}</p>
        </section>
        {% endif %}
        {% if jobtitle %}
        <h1 class="pagesubtitle">About the Qualified Candidate</h1>
        <h1 class="pagesubtitle">We're sorry! This section is currently under construction. Please check back soon to see the characteristics necessary to be great {{ jobtitle }}.</h1>
        {% endif %}
        {% if preparation %}
        <section>
            <h1 class="sectiontitle">Has Degree(s) &/or License(s)/Certification(s) in:</h1>
            <p class="sectiontext">{{ preparation }}</p>
        </section>
        {% endif %}
        {% if knowledge %}
        <section>
            <h1 class="sectiontitle">Knows About:</h1>
            <p class="sectiontext">{{ knowledge }}</p>
        </section>
        {% endif %}
        {% if skills %}
        <section>
            <h1 class="sectiontitle">Is Skilled at:</h1>
            <p class="sectiontext">{{ skills }}</p>
        </section>
        {% endif %}
        {% if abilities %}
        <section>
            <h1 class="sectiontitle">Is Able to:</h1>
            <p class="sectiontext">{{ abilities }}</p>
        </section>
        {% endif %}
        {% if interests %}
        <section>
            <h1 class="sectiontitle">Is Interested in:</h1>
            <p class="sectiontext">{{ interests }}</p>
        </section>
        {% endif %}
    </main>
    <footer class="footer">
        <ul class="footer__text">
            <li class="footer__text-item">© 2023 Pathfinder</li>
            <li class="footer__text-item">Information on this page is courtesy of <a class="footer__text-link" href="https://www.onetonline.org">onetonline.org</li>
        </ul>
    </footer>
</body>
</html>