<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header class="navbar">
        <div class="navbar__brand">
            <img src="/static/PF.png" class="navbar__logo" alt="Pathfinder logo" />
            <a href="/" class="navbar__logo">Pathfinder</a>
        </div>
        <ul class="navbar__navigation">
            <li class="navbar__navigation-item"><a href="/explore-job-neighborhoods/" class="navbar__link">Explore Job Neighborhoods</a></li>
            <li class="navbar__navigation-item"><a href="/find-my-match/" class="navbar__link">Find My Match</a></li>
            <li class="navbar__navigation-item"><a href="/find-my-hire/" class="navbar__link">Find My Next Hire</a></li>
            <li class="navbar__navigation-item"><a href="/login/" class="navbar__link">Login</a></li>
            <li class="navbar__navigation-item"><a href="/logout/" class="navbar__link">Logout</a></li>
        </ul>
    </header>
    <main class="main">
        <h1 class="pagetitle">User Login</h1>
        <h2 class="pagesubtitle">Welcome to Pathfinder!</h2>
        {% if message %}
            <h2 class="pagesubtitle">{{ message }}</h2>
        {% else %}
            <h2 class="pagesubtitle">Enter your username and password below to get started</h2>
        {% endif %}
        <section>
            <form class="form__login" method="POST" enctype="application/x-www-form-urlencoded">
                <label for="username" class="form__login-label" style="color: #2c2161">username:</label>
                <input type="text" name="username" id="username" style="margin-bottom: 20px" class="form__input-field" />
                <label for="password" class="form__login-label" style="color: #2c2161">password:</label>
                <input type="text" name="password" id="password" class="form__input-field" />
                <br>
                <br>
                <br>
                <button type="submit" class="form__submit">Submit</button>
                <br>
                <button formaction="/register/" formmethod="GET" type="submit" class="form__submit">Create a new account</button>
            </form>
            <br>
            <br>
        </section>
        <br>
        <br>
    </main>
    <footer class="footer">
        <ul class="footer__text">
            <li class="footer__text-item">© 2024 Pathfinder</li>
        </ul>
    </footer>
</body>
</html>

